@model BudgetPlannerMVC.Application.ViewModels.PlanView.NewPlanTypeVm

@{
    ViewData["Title"] = "AddPlanType";
}

<h1 class="display-4">Add Type to Plan</h1>

<hr />
<div class="row" style="margin-bottom:60px">
    <div class="col-md-4">
        <form asp-action="AddPlanType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type of Amount</label>
                @Html.DropDownListFor(model => model.TypeId, new SelectList(Model.PlanTypes, "Id", "NameAndAssign"), new { @class = "form-control btn btn-outline-dark dropdown-toggle" })
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PlanId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index" asp-route-id="@Model.PlanId">Back to Types</a>
            </div>
        </form>
    </div>
</div>

