@model BudgetPlannerMVC.Application.ViewModels.BudgetUserView.NewBudgetUserVm

@{
    ViewData["Title"] = "Delete";
}

<h1 class="display-4">Delete Budget User</h1>

<h3>Are you sure you want to delete this?</h3>
<div style="margin-bottom:60px">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            User Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Index">Back to Budget Users</a>
    </form>
</div>